POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todo
NODE_ENV="development"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

HOST="localhost"
PORT="3000"

# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/todo?schema=public"
VITE_API_BASE_URL=http://localhost:3000/api

# Secret untuk JWT
JWT_SECRET="your-super-secret-key"